<div class="global-body-margin-top">

<div class="container image-signup-container">
  <div class="row">
    <div class="col signup-col">
        <div>
        <img class="signup-visual" src="/images/signup-visual-2.png" alt="signup visual">
        </div>
    </div>


    <div class="col signup-col container" id="signin-form-container">
        <h4 class='form-typeh4 sign-in-title'>Sign-in to Symbiosis</h4>
  
          <div class="registration-form container">

            <div>
            <form action="/login" method="POST" class="registration-signin">
              <label>
                Username
                <input type="text" name="userName" placeholder="Your username" required>
              </label>

              <label>
              Password
                <input type="password" name="password" required>
              </label>
            </div>

              <button type="submit" class="btn btn-round signin-button">
            Sign in <i class="fas fa-heart"></i> </button>

          {{#if errorMessage}}
          <div class="error"> {{errorMessage}}</div>
          {{/if}}


            </form>
            </div>
    </div>
  </div>
</div>