<div class="global-body-margin-top">

<h1>Sorry</h1>
<h2>It seems you've reached the end of the internet...</h2>

<h2>You'll find your way back by clicking there</h2>

 <a href="/"><button type="submit" class="btn btn-primary btn-round submit-button">Back to Homepage <i class="fas fa-heart"></i> </button></a>

</div>