body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*
.global-body-full-content {
  margin-top: 71px;
} */

.global-body-margin-top {
  margin-top: 76px;
  margin-left: 0;
  margin-left: 0;
}

/* NAV BAR */

.logo-container {
  display: flex;
  flex-direction: raw;
  justify-content: center;
}

.main-logo-nav {
  width: 200px;
  position: absolute;
  top: 15%;
  left: 42%;
}

.navbar {
  position: absolute;
  top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 13px;
  margin-bottom: 10px;
  width: 100vw;
}

.navbar-flex.container{
  width: 100vw;
  margin-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.navbar-nav, .inline-navbar {
  margin-right: 0;
  margin-left: 0;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
}

#nav-element {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.segment-nav {
display: flex;
flex-wrap: wrap;
}

.signup-button {
  padding: 4px 10px;
  display: inline-block;
  margin: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 14px;
}

.navbar-flex.container {
  width: 100vw;
}

/* HEADER */


.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-visual {
  background-image: url(/images/design-visual-homepage.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw; 
  margin: 0;
  padding: 0;
  display: flex;
  background-size: contains;
}

/* HOMEPAGE */
.image-service-homepage{
  width: 120px;
}

.snippet-homepage {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.type-snippet {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.snippet-homepage {
  margin-top: 60px;
  margin-bottom: 60px;
}

.type-legend{
  font-size: 12px;
  text-align: center;
  color: grey;
}

.tribal-pitch {
  width: 800px;
}
.baseline-container{
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.concept-pitch {
  color: grey;
  font-size: 14px;
  text-align: center;
  font-family:'Roboto', sans-serif;
  margin-bottom: 90px;
}

h1 {
  color:#EB596E;
  font-size: 34px;
  text-align: center;
  margin-bottom: 40px;
  font-family:'Roboto', sans-serif;
}


.portrait{
  width: 220px;
}

.h3-homepage {
  color:#EB596E;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  font-family:'Roboto', sans-serif;
}
/* OFFER PAGE */

.main-picture-offer {
  width: 100vw; 
  margin: 0;
  padding: 0;
}

.image-service-type {
width: 200px;
}

/* BUTTONS  */
.submit-button {
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: 0 2px 2px 0 rgba(24, 23, 24, 0.14), 0 3px 1px -2px rgba(24, 23, 24, 0.2), 0 1px 5px 0 rgba(24, 23, 24, 0.12);
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  text-align: center;
}

.submit-button:hover {
  background: #EB596E;
}


.submit-button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


.logout-button{
  background-color: transparent;
  margin-top: 18px;
  border: none;
}


/* HELPERS and NEEDY MAP PAGE*/

#needyMap {
  height: 400px;
  width: 800px;
}

#helperMap {
  height: 400px;
  width: 800px;
}

.filtersSection{
  background-color: #EB596E;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 14px;
  font-weight: 400;
  width: 100vw;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.filtersSection input {
  margin-right: 40px;
  margin-left: 40px;
}


.title-map-container{
  margin-top: 110px;
  margin-bottom: 30px;
}

.map-title {
  text-align: center;
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.needy-map-page-bloc{
  display: flex;
  flex-wrap: wrap;
}

.map-view {
  display: flex;
  flex-direction: column;
}

.global-map-group {
  display: flex;
  flex-direction: row;
}

.helper-map-page-bloc{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
}

#helperMap {
  height: 400px;
}

.filters-group{
  display: inline-flex;
  color: grey;
  flex-direction: raw;
  font-size: 12px;
}

.profile-suggestions {
width: 350px;
height: 363px;
overflow-y: scroll;
margin-top: 30px;
margin-bottom: 30px;
}


/* SNIPPET PREVIEW */
.snippet-preview {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  margin-bottom: 40px;
}

.label-preview {
  text-align: center;
  font-size: 14px;
  color: #EB596E;
  border: 1px solid #EB596E;
  border-radius: 30px;
  margin-right: 20px;
}

.snippet-see-profile{
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background-color:  #EB596E;
  border-color:  #EB596E;
  box-shadow: 0 2px 2px 0 rgba(24, 23, 24, 0.14), 0 3px 1px -2px rgba(24, 23, 24, 0.2), 0 1px 5px 0 rgba(24, 23, 24, 0.12);
  padding: 6px 8px;
  margin: 0.3125rem 1px;
  font-size: 10px;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  text-align: center;
}

.h5-snippet{
  font-size: 14px;
  color: grey;
}

.preview-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 10px;
}


/* REGISTRATION FORMS GENERIC ELEMENTS */
.registration-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* SIGNUP FORM*/

.signup-visual {
  width: 600px;
  margin-left: 0;
}

.image-signup-container{
  margin-left: 0;
  margin-right: 0;
}

.alignment-items {
  display: flex;
  flex-direction: row;
}
.signup-col {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.div-grouping-section {
  display: flex;
  flex-direction: column;
  
}

.form-elements-grouping-2{
  display: inline-flex;
  justify-content: center;
  font-size: 10px;

}


.signup-form-container {
  margin: 0;
  padding: 0;
}

.registration-form{
  color:  rgb(116, 114, 114);
  font-family:'Roboto', sans-serif;
}

.registration-form label {
  font-size: 12px;
}

.registration-form select {
  font-size: 12px;
  border-radius: 30px;
  width: 150px;
  padding: 3px 10px;
  margin-bottom: 10px;
  color:  rgb(116, 114, 114)
}


.registration-form input {
  font-size: 12px;
  border: none;
  border-bottom: 0.5px solid rgb(116, 114, 114);
  margin: 15px 30px 0 20px;
}

.registration-form placeholder {
 text-align: center;
}

.form-typeh4 {
  color: #334B9A;
  font-family:'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

.form-typeh5{
  color:#334B9A;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-right: 20px;
}

.signup-radio-button-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.form-elements-grouping {
  display: flex;
  flex-direction: row;
}


/* SIGNIN */

.signin-button{
  display: flex;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: 0 2px 2px 0 rgba(24, 23, 24, 0.14), 0 3px 1px -2px rgba(24, 23, 24, 0.2), 0 1px 5px 0 rgba(24, 23, 24, 0.12);
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  text-align: center;
}

.submit-button:hover {
  background: #EB596E;
}


.submit-button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.fa-heart{
  margin-left: 10px;
}

.signin-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 650px;
}

/*FOOTER */
.page-footer {
  background-color: black;
  font-size: 12px;
  color: rgb(184, 180, 180);
}

.social-media-i{
  color: rgb(184, 180, 180);
  display: inline-block;
  text-align: center;
}

.icons-social-media {
  display: flex;
  justify-content: center;
}
.row.pb-3{
  padding: 0;
  margin: 0;
}

.footer-link{
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.footer-link:hover{
  color:  #EB596E;
  text-decoration: none;
  margin-bottom: 0;
}

/* PROFILE ACCOUNT */
.specific-profile-container {
  background-image: url(/images/background-profile-logo.png);
  background-repeat: no-repeat;
  height: 500px;
  width: 100vw; 
  margin: 0;
  padding: 0;
  background-size: contains;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-top: 40px;
  color: grey;
}

.user-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%
}

.identity-bloc{
  display: flex;
  flex-direction: column;
}
