body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* NAV BAR */

.logo-container {
  display: flex;
  flex-direction: raw;
  justify-content: center;
}

.main-logo-nav {
  width: 200px;
  position: absolute;
  top: 4%;
}

.navbar {
  position: absolute;
  top: 0;
  margin-bottom: 10px;
 
}

#nav-element {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 15px;
}

.signup-button {
  padding: 4px 10px;
  display: inline-block;
  margin: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 14px;
}

.inline-navbar {
display: inline-block;
}
.nav-item.left {
  position: relative;
}
.nav-item.right {
  float: inline-end;
}

/* HEADER */


.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1200px;
  width: 1080px;
}

.header-visual {
  background-image: url(/images/homepage-main-visual5.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  background-size: contains;
}










/* BUTTONS  */
.submit-button {
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: 0 2px 2px 0 rgba(24, 23, 24, 0.14), 0 3px 1px -2px rgba(24, 23, 24, 0.2), 0 1px 5px 0 rgba(24, 23, 24, 0.12);
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  text-align: center;
}

.submit-button:hover {
  background: rgb(17, 4, 87);
}


.submit-button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


/* NEEDY MAP PAGE*/

.needy-map-page-bloc{
  display: flex;
  flex-wrap: wrap;
}


/* HELPERS MAP PAGE*/

.helper-map-page-bloc{
  display: flex;
  flex-wrap: wrap;
}


/* REGISTRATION FORMS GENERIC ELEMENTS */
.registration-form.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}


/*FOOTER */
.page-footer {
  background-color: black;
  font-size: 12px;
  color: rgb(184, 180, 180);
}

.social-media-i{
  color: rgb(184, 180, 180);
  display: inline-block;
  text-align: center;
}

.icons-social-media {
  display: flex;
  justify-content: center;
}
.row.pb-3{
  padding: 0;
  margin: 0;
}

.footer-link{
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.footer-link:hover{
  color: #0072ff;
  text-decoration: none;
  margin-bottom: 0;
}