<!-- HEADER VISUAL-->

<div class="main-content">
  <div class="header-visual">
  </div>
</div>

<div class="wrap container snippet-homepage">
  <div class="row">
          <div class="col-sm container">
                <img class="image-service-homepage" src="/images/food.png" alt="food">
                <div class="overlay">
                  <h6 class="type-snippet"> FOOD</h6>
                </div>
          </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/healthcare.png" alt="healthcare">
             <div class="overlay">
                <h6 class="type-snippet">HEALTHCARE</h6>
              </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/hosting.png" alt="hosting">
            <div class="overlay">
              <h6 class="type-snippet">HOSTING</h6>
            </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/administration.png" alt="administration">
              <div class="overlay">
            <h6 class="type-snippet">ADMINISTRATION</h6>
            </div>
          </div>
  </div>
</div>






<!-- display welcome user if the user is present: TO BE CHANGED WITH OUR NAMMING FOR USERNAME-->

<hr>

{{#if user}}

Welcome, {{user.username}}

<form method="POST" action="/logout">

<button type="submit"> Logout </button>
</form>

<a href="/private"> See your contacts </a>

{{/if}}