<!-- HEADER VISUAL-->

<div class="main-content">
  <div class="header-visual"></div>
</div>


<div class="baseline-container container">
  <div class="tribal-pitch">
  <h1>
    RESTORING TRIBAL SOLIDARITY IN MODERN COMMUNITIES
  </h1>
  <p class="concept-pitch">

  <i class="fas fa-heart"></i> <br>
  Everywhere on Earth, millions of Humans are fighting misery, homeleness, lack of medical care. <br>
  But there are also many Humans out there willing to help, to offer their support, their time, share a room in their home, supply food & advices. <br>
  Symbiosis is the digital hub where they can connect. An create ties. <br>
  From Humans, to Humans.
  </p>
  </div>
</div>


<h3 class="h3-homepage"> Last users who joined the community</h3>
 <div class="row">
        <div class="col-sm-2">
                 <img src="/images/pic1.jpg" class="portrait" alt='portrait'>
                <div class="overlay">
                <h6 class="type-snippet">Ana</h6>
                </div>
        </div>
    <div class="col-sm-2 container">
            <img src="/images/pic2.jpg" class="portrait" alt='portrait'>
             <div class="overlay">
            <h6 class="type-snippet">Joao</h6>
            </div>  
    </div>
    <div class="col-sm-2 container">
           <img src="/images/pic3.jpg" class="portrait" alt='portrait'>
            <div class="overlay">
            <h6 class="type-snippet">Salia</h6>
            </div>
      </div>
    <div class="col-sm-2 container">
          <img src="/images/pic4.jpg" class="portrait" alt='portrait'>
          <div class="overlay">
          <h6 class="type-snippet">Eduardo</h6>
          </div>
     </div>
    <div class="col-sm-2 container">
      <img src="/images/pic5.jpg" class="portrait" alt='portrait'>
          <div class="overlay">
          <h6 class="type-snippet">Ana-Rita</h6>
          </div>
    </div>
    <div class="col-sm-2 container">
    <img src="/images/pic7.jpg" class="portrait" alt='portrait'>
          <div class="overlay">
          <h6 class="type-snippet">Doria</h6>
         </div>
    </div>
</div>

<div class="wrap container snippet-homepage">
  <div class="row">
          <div class="col-sm container">
                <img class="image-service-homepage" src="/images/food.png" alt="food">
                  <h6 class="type-legend"> FOOD</h6>
          </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/healthcare.png" alt="healthcare">
                <h6 class="type-legend">HEALTHCARE</h6>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/hosting.png" alt="hosting">
              <h6 class="type-legend">HOSTING</h6>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/administration.png" alt="administration">
            <h6 class="type-legend">ADMINISTRATION</h6>
          </div>
  </div>
</div>

