<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/offer"> Services </a>

<a href="/auth/signup"> Sign-Up </a>

<a href="/auth/login"> Login </a>

<a href="/main/blog"> Blog </a>

<!-- display welcome user if the user is present -->

<hr>

{{#if user}}

Welcome, {{user.username}}

<form method="POST" action="/logout">

<button type="submit"> Logout </button>
</form>

<a href="/private"> See your contacts </a>



{{else}}
<a href="/login"> Login </a>  <!-- This way, We see login only if we're not connected. -->
{{/if}}