<!-- HEADER VISUAL-->

<div class="main-content">
  <div class="header-visual"></div>
</div>


<div class="baseline-container container">
  <div class="tribal-pitch">
  <h1>
    RESTORING TRIBAL SOLIDARITY IN MODERN COMMUNITIES
  </h1>
  <p class="concept-pitch">

  <i class="fas fa-heart"></i> <br>
  Everywhere on Earth, millions of Humans are fighting misery, homeleness, lack of medical care. <br>
  But there are also many Humans out there willing to help, to offer their support, their time, share a room in their home, supply food & advices. <br>
  Symbiosis is the digital hub where they can connect. An create ties. <br>
  From Humans, to Humans.
  </p>
  </div>
</div>


<div class="wrap container snippet-homepage">
  <div class="row">
          <div class="col-sm container">
                <img class="image-service-homepage" src="/images/food.png" alt="food">
                <div class="overlay">
                  <h6 class="type-snippet"> FOOD</h6>
                </div>
          </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/healthcare.png" alt="healthcare">
             <div class="overlay">
                <h6 class="type-snippet">HEALTHCARE</h6>
              </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/hosting.png" alt="hosting">
            <div class="overlay">
              <h6 class="type-snippet">HOSTING</h6>
            </div>
          </div>
          <div class="col-sm container">
            <img class="image-service-homepage" src="/images/administration.png" alt="administration">
              <div class="overlay">
            <h6 class="type-snippet">ADMINISTRATION</h6>
            </div>
          </div>
  </div>
</div>

