<div class="global-body-margin-top">


<div>
<img  class="main-picture-offer" src="/images/homepage-main-visual.png" >
</div>

<div class="offer-presentation">

<div class="container">

  <div class="row">
        <div class="col-md">
          <h2> PROVIDE HELP WITHIN THE COMMUNITY </h2>
        </div>
        <div class="col-md">
        </div>
        <div class="col-md">
           <h2> BE HELPED BY OUR NICE CREW </h2>
        </div>
  </div>

  <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
           <h3> FOOD </h3>
          <img class="image-service-type" src="/images/food.png" alt="food">
        </div>
        <div class="col-md">
        </div>
  </div>

  <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
           <h3> HEALTHCARE </h3>
           <img class="image-service-type" src="/images/healthcare.png" alt="healthcare">
        </div>
        <div class="col-md">
        </div>
  </div>

  
  <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
             <h3> HOSTING </h3>
           <img class="image-service-type" src="/images/hosting.png" alt="hosting">
        </div>
        <div class="col-md">
        </div>
  </div>
 
 
  <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
          <h3> ADMINISTRATIVE SUPPORT </h3>
          <img class="image-service-type" src="/images/administration.png" alt="administration">
        </div>
        <div class="col-md">
        </div>
  </div>
 
 
</div>

</div>

</div>