<div class="global-body-margin-top">


<div>
<img  class="main-picture-offer" src="/images/Design-visual-page-offer.png" >
</div>

<div class="offer-presentation">

<div class="container">

  <div class="row">
        <div class="col-md">
          <h2 class="offer-title"> PROVIDE HELP WITHIN <br> THE COMMUNITY </h2>
        </div>
        <div class="col-md">
        </div>
        <div class="col-md">
           <h2 class="offer-title"> BE HELPED BY OUR NICE <br> COMMUNITY </h2>
        </div>
  </div>

  <div class="row central-row-offer">
        <div class="col-md box-content-offer">
              <h3 class="offer-type" > PROVIDE FOOD </h3>
              <p> One of the greatest problems in the world today is hunger. Don't let people suffer from this. No one should lack of food in 2020. You can help. Everyone can.</p>
        </div>
        <div class="col-md">
           
          <img class="image-service-type" src="/images/food.png" alt="food">
        </div>
        <div class="col-md box-content-offer">
               <h3 class="offer-type" > RECEIVE FREE FOOD </h3>
               <p> Because no one should suffer from hunger in 2020, our community is here to help. Don't be ashamed, ask for their support.</p>
        </div>
  </div>

  <div class="row central-row-offer">
        <div class="col-md box-content-offer">
              <h3 class="offer-type"> PROVIDE HEALTHCARE </h3>
              <p> If you have some medical skills (and degrees), the Symbiosis community needs you! A few hours of your precious help can save lives!</p>
        </div>
        <div class="col-md">
           
           <img class="image-service-type" src="/images/healthcare.png" alt="healthcare">
        </div>
        <div class="col-md box-content-offer">
               <h3 class="offer-type"> BENEFIT FROM HEALTHCARE </h3>
               <p> Don't stay isolated with health problem. Nothing is more important than your health. At Symbiosis, our angels can take godd care of you. For free, of course.</p>
        </div>
  </div>

  
  <div class="row central-row-offer">
        <div class="col-md box-content-offer">
              <h3 class="offer-type"> HOST PEOPLE WHO NEED A PLACE TO SLEEP </h3>
              <p> Every night, while reaching your bed, try to think to all people sleeping outside. Hosting them for a few days can be of great help.</p>
        </div>
        <div class="col-md">
             
           <img class="image-service-type" src="/images/hosting.png" alt="hosting">
        </div>
        <div class="col-md box-content-offer">
              <h3 class="offer-type"> BE HOSTED FOR A FEW DAYS BY OUR DEAR COMMUNITY </h3>
              <p> We all know that everyone can be in that situation one day. The members of our community can host you.</p>
        </div>
  </div>
 
 
  <div class="row central-row-offer">
        <div class="col-md box-content-offer">
              <h3 class="offer-type"> PROVIDE ADMINSITRATIVE HELP AND ADVICES</h3>
              <p> Every day, around us, people are struggling with administrative problems, don't let them stuck. A little thing can make a great day.</p>
        </div>
        <div class="col-md">
          <img class="image-service-type" src="/images/administration.png" alt="administration">
        </div>
        <div class="col-md box-content-offer">
              <h3 class="offer-type"> BE SUPPORTED IN ADMINISTRATIVE TASKS</h3>
              <p> Don't stay stuck and isolated with your problem. There is necessarly someone in the community who has the answer!</p>
        </div>
  </div>
 
 
</div>

</div>

</div>