<h1>Helper Map</h1>


<div> row with content like filters, search bar.</div>

<div class="helper-map-page-bloc">

  <div>column with previews</div>

  
  <div style="width:1000px" id="helper-map"></div>
</div>