<h1>Needy Map</h1>


<div> row with content like filters, search bar.</div>

<div class="needy-map-page-bloc">

  <div>column with previews</div>

  
  <div style="width:1000px" id="needy-map"></div>
</div>